header {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 99;
}


.header-image {
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 80px;
  margin: 5px 0;
}
