<!-- Main Component of this application -->

<!-- HEADER - Refers to src/app/header -->
<app-header></app-header>

<!-- CARDS - Refers to src/app/hamster-card -->
<div class="container">
  <app-hamster-card [text]="postTexts[0]"></app-hamster-card> <!-- ''= Value of JS-Variables ""= HTML Part -->
  <app-hamster-card [text]="postTexts[1]"></app-hamster-card> <!-- That postTexts Variable comes from app.components.ts -->
  <app-hamster-card></app-hamster-card>
  <app-hamster-card></app-hamster-card>
</div>

<button (click)="buttonClicked()">Click me!</button>
<!-- Angular = (click) / Javascript = onclick -->
